#.gitignore
# Byte-compiled / optimized / DLL files
**pycache**/
*.py[cod]
# Virtual environment
venv/
ENV/
env/
.venv/
# Distribution / packaging
build/
dist/
*.egg-info/
# Logs
*.log
# Environment variables file
.env
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# Pytest cache
.pytest_cache/
# MyPy cache
.mypy_cache/
# Coverage reports
coverage.xml
*.cover
# VS Code
.vscode/
# Remove macOS things
.DS_Store
# Firebase auth json keys
*.json
# Vim temporary files
*.swp
# SSL certificates
*.pem
# Python cache directories
__pycache__/